/* =========================================
Icon Component
========================================= */

.icon {
  display:inline-block;
  max-width: 100%;
}

.icon--logo,
.icon--logo-full {
  display:inline-block;
  max-width: $d-dec * 2;
  max-height: $d-dec * 2;

  .curtain__logo & {
    max-width: $d-sep * 2.5;
  }
}

.icon--logo-icon {
  max-width: $d-trio;
  max-height: $d-trio;
}

.icon--doodle {
  padding: $d-duo;
}

.icon--doodle-empty,
.icon--doodle-hatch {
  fill: $ca-icon-color;
}

.icon--event {
  margin: $d-quad $d-duo 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: $d-doz;
  max-height: $d-doz;
  padding: $d-trio;
  fill: $ca-icon-color;
  border: 1px $ca-icon-border-color solid;
  border-radius: 50%;
  box-shadow: 5px 5px 0px $ca-icon-shadow-color;
}

.icon--event-birthday,
.icon--event-wedding,
.icon--event-retirement,
.icon--event-recovery {
  max-width: $d-oct;
  max-height: $d-oct;
  fill: $ca-icon-color;
}

