/* =========================================
Icon Component
========================================= */

.icon {
  display:inline-block;
}

.icon--logo {
  display:inline-block;
  max-width: $d-sep * 2;

  .curtain__logo & {
    max-width: $d-sep * 2.5;
  }
}

.icon--logo-icon {
  max-width: $d-trio;
}

.icon--arrow-down,
.icon--arrow-right,
.icon--arrow-left {
  max-height: $d-quad;
  max-width: $d-quad;
}

.icon--arrow-down {
  max-height: $d-trio;
  max-width: $d-trio;
  position: relative;
  bottom: 1px;
  right: -6px;
}
