/* =========================================
Thumbnail Component
========================================= */

.thumbnails {
  padding: $d-thumbnail-padding;
}
.thumbnail {
  padding: $d-thumbnail-padding;
}

.thumbnail {
  flex-basis: 100%;
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;
  height: 100%;

  @include bp($bp-tablet) {
    flex-basis: 50%;
    max-width: 50%;
  }

  @include bp($bp-laptop) {
    flex-basis: 33.33%;
    max-width: 33.33%;
  }

  @include bp($bp-desktop) {
    flex-basis: 25%;
    max-width: 25%;
  }
}

.thumbnail__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  transition: all $a-timing * 4;
}

.thumbnail__copy {
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: $d-duo;
  text-align: left;
  transition: all $a-timing $a-easing;

  @include bp($bp-laptop) {
    opacity:0;
  }
}

.thumbnail__overlay {
  left:$d-thumbnail-padding;
  top: $d-thumbnail-padding;
  right: $d-thumbnail-padding;
  bottom: $d-thumbnail-padding;
}

.is-loading {
  > .thumbnail__img {
    opacity: 0;
  }

  + .thumbnail__overlay {
    opacity:0.5;
  }
}

.thumbnail:active,
.thumbnail:focus,
.thumbnail:hover {
  .thumbnail__img {
    transform: scale(1.2);
  }

  .thumbnail__copy {
    opacity: 1;
  }

  .thumbnail__overlay {
    opacity:0.5;
  }
}

.thumbnail .thumbnail__img--fallback {
  display: none;
}
.is-broken {
  > .thumbnail__img {
    display: none;
  }
  > .thumbnail__img--fallback {
    display: block;
  }
}




