.featured {
  position: relative;
  transition: all $a-timing;

}

.feature {
  position: relative;
  display: block;
  height: 100vh;
  background: $ca-feature-background;
}

.feature:not(.object-fit-polyfill) .feature__video {
  height: 132vh;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.feature__img {
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}


.feature .feature__img--fallback {
  display: none;
}

.is-broken {
  > .feature__img {
    display: none;
  }
  > .feature__img--fallback {
    display: block;
  }
}

.featured__copy,
.feature__copy {
  position:absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  padding: $d-trio $d-trio $d-sex;
  text-align: center;

  @include bp($bp-tablet) {
    width: 65%;
    padding: $d-trio $d-sep;
    text-align: left;
  }
}


.featured__copy {
  padding-bottom: $d-duo;
  right: 0;
  @include bp($bp-tablet) {
    width: 35%;
    text-align: right;
    padding-bottom: $d-trio;
  }
}

.featured__overlay {
  opacity: 0.5;
}
