.badges {
  justify-content: center;
  padding: $d-quad $d-duo;
  position: relative;
  z-index: 1;
  @include bp($bp-tablet) {
    padding: $d-duo $d-dec;
  }
}

.badge {
  text-align: center;
  padding: $d-base $d-duo;
}

.badge__title {
  color: $ca-badge-title-color;
}
