.badges {
  justify-content: center;
  padding: $d-quad $d-duo;
  position: relative;
  z-index: 1;
  @include bp($bp-tablet) {
    padding: $d-quad $d-duo;
  }
}

.badge {
  text-align: center;
  padding: $d-trio;
}

.badge__title {
  color: $ca-badge-title-color;
}
