.banner {
  padding: $d-dec 0 0;
  position: relative;
  height: calc(100vh - #{$d-header-height-mobile + $d-note-height-mobile};
  overflow: hidden;
  margin-top: -$d-header-height-mobile;

  @include bp($bp-tablet) {
    max-height: 950px;
    height: calc(100vh - #{$d-header-height + $d-note-height};
    margin-top: -$d-header-height;
  }
}


.banner__image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: auto;
  z-index: -2;

  img {
    min-height: 50vh;
    max-height: 75vh;
    width: auto;
    margin: auto;
  }
}


.banner__videoWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
.banner__video  {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.banner__background {
  background-image: url($p-svg + 'confetti.svg');
  top: 0;
  position: fixed;
  height: 100vh;
  width:100vw;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -1;
  svg {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 200vw;
    min-height: 200vh;
    margin: auto;
  }
}
