.blogpost {
  margin: $d-sex $d-trio;
  padding: $d-quad;
  color: $c-teal;
  padding: $d-trio;

  position: relative;
  background: $c-white;

  @include bp($bp-mobile) {
    padding: $d-quad;
  }
  @include bp($bp-tablet) {
    padding: $d-oct;
  }
}

.blogpost-container {
  padding: 2em 4em;

  @include bp($bp-laptop) {
    padding: 6em 12em;
  }

  .blogpost {
    margin: 0;
    padding: 0;
  }
}

.blogpost---single {
  display: flex;
  flex-direction: column;

  .blogpost-mast {
    width: 100%;
  }

  .blogpost-content {
    width: 70%;
    margin-left: 25%;
    padding-bottom: 2em;

    img {
      width: 140%;
      margin-left: -20%;
      padding: $d-quin 0 $d-base;
    }

    blockquote {
      width: 110%;
      margin-left: -30%;
    }

    .caption {
      margin-left: -20%;
      font-size: 0.875em;
    }

    .subdued {
      color: $ca-heading-secondary-color;
    }
  }

  .blogpost-footer.row {
    width: 100%;
    margin-left: 25%;
    padding-bottom: 4em;
  }

  h2 a.is-active {
    color: $ca-heading-color;
    font-size: 3.5em;
    line-height: 1.15;
    text-align: left;
    padding-bottom: $d-base;
  }

  h3 {
    color: $ca-heading-color;
    font-size: 1.5em;
    padding-bottom: $d-quin;
    font-weight: 400;
  }

  h4 {
    color: $ca-heading-color;
    padding-top: $d-duo;
    font-size: 1em;
  }

  .format p {
    color: $ca-paragraph-color;
    font-size: 1.125em;
  }

  .format blockquote p {
    color: $ca-heading-primary-color;
    font-size: 2em;
  }

  hr {
    margin-top: $d-quin;
    margin-bottom: $d-quin;
  }

  .author-bio {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: $d-quin;

    .subdued {
      color: $ca-heading-secondary-color;
    }

    .description {
      color: $ca-heading-secondary-color;
      font-size: 0.875em;
    }

    .author-avatar {
      display: flex;
      height: 64px;
      width: 64px;
      margin-right: $d-trio;

      img {
        border-radius: 50%;
      }
    }
  }

  .faq__footer {
    justify-content: left;
    margin-top: $d-quin;
  }
}
