.block {

  padding: $d-duo;
  text-align: center;

  @include bp($bp-tablet) {
    text-align: left;
  }
}

.block--columns {

}

.block--rows {
  .row {
    flex-direction: column;
  }
  @include bp($bp-tablet) {
    .row {
      flex-direction: row;
    }
    &:nth-child(even) {
      > .column {
        margin-left: $d-dec * 3;
      }
    }
  }
}

.block__content {
  padding: $d-duo;
}

