.cta {
  overflow: hidden;
  padding: $d-sex 0 $d-quad;
  background-image: $ca-cta-background-gradient;

  a.underline {
    text-decoration: underline;
  }

  @include bp($bp-tablet) {
    padding: $d-oct $d-quad $d-sex;
  }
  @include bp($bp-laptop) {
    padding: $d-oct $d-dec $d-sex;
  }

  h2.text--inverted a {
    border-bottom: 1px solid white;
  }

  h2.text--inverted a:hover {
    color: $c-darkTeal;
    border-bottom: 1px solid $c-darkTeal;
  }
}

.cta__button {
  padding: $d-base;

  @include bp($bp-laptop) {
    padding: $d-duo;
  }
}

.cta-global-pricing {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;

  @include bp($bp-laptop) {
    flex-direction: row;
  }

  .option {
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    margin-right: 0;
    padding-bottom: $d-trio;
    padding-left: $d-quad;
    padding-right: $d-quad;

    @include bp($bp-laptop) {
      margin-right: $d-sex;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }

    &:last-child {
      margin-right: 0;

      // redo this in a better way
      .currency:before {
        content: "from";
        padding-right: $d-half;
        font-family: $t-font-family-serif;
        font-style: italic;
      }
    }

    .option--heading {
      padding-bottom: 0;
    }

    .price {
      font-family: $t-font-family;

      .currency {
        font-size: 16px;
        padding-bottom: $d-half;
        vertical-align: top;
      }
    }

    .badge__icon {
      max-width: 120px;
      max-height: 120px;
      fill: #ffffff;
      opacity: 0.7;
    }
  }
}

.pricing-note {
  max-width: 70%;
  padding-top: $d-trio;
  text-align: center;
}
