.explain {
  padding: $d-oct;
  background-image: $ca-explain-background-gradient;
  overflow: hidden;
}


.explain h1,
.explain .badge__content h3 {
  color: $c-purple;
}

.explain p.buttons {
  text-align: center;
}
