.explain {
  background-image: linear-gradient(-180deg, #FEFAF1 0%, #FEF7E2 75%);
}

.explain .block__content {
  background: #FFFFFF;
  box-shadow: 0 2px 20px 0 rgba(35,29,36,0.05);
  text-align: center;
}

.explain h1,
.explain .badge__content h3 {
  color: $c-purple;
}

.explain p.buttons {
  text-align: center;
}
