/* =========================================
Footer Component
========================================= */

.footer {
  position: relative;
  padding: $d-quad 0;
  transition: all $a-timing * 2 $a-easing;

  @include bp($bp-tablet) {
    padding: $d-quad $d-trio;
  }

  .js-is-loading & {
    opacity: 0;
  }

}


