/* =========================================
Footer Component
========================================= */

.footer {
  position: relative;
  padding: $d-quad 0;
  transition: all $a-timing * 2 $a-easing;
  @include bp($bp-tablet) {
    padding: $d-quad $d-trio;
    min-height: $d-dec;
  }

  .js-is-loading & {
    opacity: 0;
  }

}

.footer__icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.footer__nav {
  width: 50%;
  display: inline-block;
}

