.header {
  z-index: index($l-site, header);
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  transition: all $a-timing $a-easing;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: $d-dec;
  padding: 0 $d-trio;
  pointer-events: none;

  @include bp($bp-tablet) {
    padding: 0 $d-quad;
  }
}

.header__nav {
  pointer-events: auto;
}

.header__item {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $d-dec;
  line-height: $d-dec;
  text-align: left;
}

.header__group {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  transition: opacity $a-timing $a-easing, transform $a-timing * 2 $a-easing;

  &.header__group--right {
    flex-grow: 1;
    text-align: right;
  }

}

