/* =========================================
Nav Component
========================================= */

.nav {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
  z-index: index($l-site, nav);
	pointer-events: none;
  overflow: hidden;

  &.is-active {
    pointer-events: visible;
  }
}

.nav__inner {
  overflow-y: scroll;
	height: 100vh;
	margin: 0;
	background: $ca-nav-background;
  display: flex;
  @include bp($bp-tablet) {
    justify-content: center;
  }
}
