.note {
  text-align: center;
  width: 100%;
  background: $c-lightestYellow;
  border-top: 1px solid $c-lightestGrey;
  &,
  > * {
    height: $d-note-height-mobile;
    @include bp($bp-tablet) {
      height: $d-note-height;
    }
  }
}
