.searchform {
  padding: 0 $d-quad 0;
  background: $ca-searchform-background;
}

.searchform__form {
  background: $ca-input-background;
  padding: $d-base;
  border: 1px solid $ca-input-border-color;
  display:flex;
}

input {
  order: 1;
  box-shadow: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  padding: 0 $d-duo;
}
