/* =========================================
Breakpoints
========================================= */
/**
 * Prefix breakpoints with $b_
 * You can use the 'bp' mixin to
 * easily add breakpoints
 */

$bp-mobile: '(min-width: 450px)';

$bp-tablet: '(min-width: 800px)';

$bp-laptop: '(min-width: $d-container-max)';

$bp-laptop-extra: '(min-width: #{$d-container-max + $d-doz + $d-quin;})';

$bp-desktop: '(min-width: 1280px)';
