/* =========================================
Typography
========================================= */
/**
 * Prefix typography vars with $t_
 * to make them easier to find with
 * autocomplete
 *
 */

$t-em-base: 16;
$t-font-family: 'neuzeit-grotesk', sans-serif;
$t-font-weight-regular: 300;
$t-font-weight-bold: 700;
$t-font-size-mega: 96 / $t-em-base + em;
$t-font-size-alpha: 24 / $t-em-base + em;
$t-font-size-beta: 18 / $t-em-base + em;
$t-font-size-gamma: 16 / $t-em-base + em;
$t-font-size-delta: 14 / $t-em-base + em;
$t-font-size-epsilon: 14 / $t-em-base + em;
$t-font-size-lead: 18 / $t-em-base + em;
