.commongoods {
  width: 100%;
  height: 100%;
  margin-bottom: $d-sex;

  .swiper-wrapper {
    transition-duration: $a-timing !important;
  }
}

.commongood {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: -$d-oct;
    left:0;
    right: -$d-oct;
    z-index: 0;
    background: $ca-commongood-background;
  }
}

.commongood__content {
  padding-bottom: $d-quad;
  @include bp($bp-tablet) {
    padding-right: $d-quad;
    padding-bottom: $d-sex;
  }
}

.commongood__title {
  width: 100vw;
  margin-bottom: $d-base;
  position: relative;
  z-index:1;
  @include bp($bp-tablet) {
    margin-top: $d-oct;
  }
}

.commongood__img {
  position: relative;
  min-height: 100px;
  // margin-top: $d-sex;
  margin-bottom: $d-oct;
}

.commongood__img__img {
  
  width: 100%;
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.commongoods__controls {
  position: absolute;
  bottom: 0;
  z-index:1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: $d-container-max;
  width: 100%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  @include bp($bp-tablet) {
    transform: translateX(calc(-50% + #{$d-oct}));
  }
}

.commongoods__pagination {
  text-align: right;
  bottom: auto;
  left: auto;
  color: $ca-pagination-color;
  width: calc(100% - #{$d-oct});
  @include bp($bp-tablet) {
    padding-right: $d-oct;
    width: calc(#{8 / $d-grid-columns * 100}% - #{$d-oct});
  }
}


.commongoods__next,
.commongoods__prev {
  padding: $d-duo;
  width: $d-oct;
  cursor: pointer;
  &.swiper-button-disabled {
    cursor: default;
    opacity: 0.1;
  }
}
