.static {
  padding: 0 $d-trio;
  @include bp($bp-tablet) {
    padding: 0 $d-sep;
  }
}


.static__title {
  flex: auto;
  width: auto;
  transition: margin $a-timing $a-easing;
  margin-top: $d-sep;
  margin-bottom: $d-duo;
  @include bp($bp-tablet) {
    margin-top: $d-duo - 1px;
    margin-left: $d-quin;
  }

  @include bp($bp-laptop-extra) {
    margin-left: 0;
  }
}


.static__content {
  padding-bottom: $d-quin;
}
