/* =========================================
Heading Typography
========================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: $ca-heading-color;
  font-weight: $t-font-weight-bold;
  margin: 0;
  &.secondary {
    color: $ca-heading-secondary-color;
  }
  &.inline-block {
    display: inline-block;
  }
}

h1 {
  font-family: $t-font-family-serif;
  font-size: $t-font-size-alpha;
  font-weight: $t-font-weight-regular;
  padding-bottom: $d-duo;
}

h2 {
  font-family: $t-font-family-serif;
  font-size: $t-font-size-beta;
  font-weight: $t-font-weight-regular;
  padding-bottom: $d-base;
  &.secondary {
    font-weight: $t-font-weight-bold;
    color: $ca-heading-secondary-color;
  }
}


h3 {
  font-size: $t-font-size-gamma;
  padding-bottom: $d-duo;
}

h4 {
  font-size: $t-font-size-delta;
}

h5 {
  font-size: $t-font-size-epsilon;
  font-weight: $t-font-weight-regular;
}

h6 {
  font-size: $t-font-size-zeta;
}

.alpha {
  @extend h1;
}

.beta {
  @extend h2;
}

.gamma {
  @extend h3;
}

.delta {
  @extend h4;
}

.epsilon {
  @extend h5;
}
