/* =========================================
Heading Typography
========================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizeLegibility;
  color: $ca-heading-color;
  font-weight: $t-font-weight-bold;
  margin: 0;
  &.secondary {
    color: $ca-heading-secondary-color;
  }
  &.inline-block {
    display: inline-block;
  }
}

.mega {
  font-size: $t-font-size-mega;
  font-size: calc(100% + 5vw);
  font-weight: $t-font-weight-bold;
  line-height: 1;
}

h1 {
  font-size: $t-font-size-alpha;
}

h2 {
  font-size: $t-font-size-beta;
  font-weight: $t-font-weight-regular;
  &.secondary {
    font-weight: $t-font-weight-bold;
    color: $ca-heading-secondary-color;
  }
}


h3 {
  font-size: $t-font-size-gamma;
}

h4 {
  font-size: $t-font-size-delta;
}

h5 {
  font-size: $t-font-size-epsilon;
  font-weight: $t-font-weight-regular;
}

.alpha {
  @extend h1;
}

.beta {
  @extend h2;
}

.gamma {
  @extend h3;
}

.delta {
  @extend h4;
}

.epsilon {
  @extend h5;
}
