/* =========================================
Paragraph Typography
========================================= */

p,
.p {
  color: $ca-paragraph-color;
  margin: 0;
  padding: 0;
}

.p--small > p,
p.p--small {
  font-size: $t-font-size-p-small;
}

.paragraph--lead > p,
p.paragraph--lead {
  @include bp($bp-tablet) {
    font-size: $t-font-size-lead;
  }
}
