/* =========================================
Color Index
========================================= */
/**
 * Prefix colors with $c- this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c-teal: #005d63;
$c-lightTeal: #83e6eb;
$c-darkTeal: #004c4a;
$c-lightestTeal: #ebffff;
$c-black: #231d24;
$c-white: #ffffff;
$c-grey: #7e7a7e;
$c-lightGrey: #d5d0d4;
$c-lightestGrey: #f5f5f5;
$c-green: #0ec8a9;
$c-lightestGreen: #eefbf8;
$c-yellow: #f8d04d;
$c-lightestYellow: #fdfcf6;
$c-red: #ee5e5e;
$c-lightestRed: #fdeeee;
$c-blue: #3fc5d9;
$c-lightestBlue: #eefbfd;

/* =========================================
Colors Applied
========================================= */
/**
 * Prefix applied colors with $ca-
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

$ca-hamburger-line-background: $c-white;
$ca-carousel-background: $c-black;
$ca-site-background: $c-white;
$ca-mast-background: $c-white;

$ca-gallery-background: $c-lightestGrey;
$ca-color-inverted: $c-white;

// Buttons
$ca-button-inverted-background: $c-white;
$ca-button-inverted-background-hover: rgba(255, 255, 255, 0.95);
$ca-button-inverted-color: $c-teal;

$ca-button-primary-background: $c-teal;
$ca-button-primary-background-hover: $c-darkTeal;
$ca-button-color: $c-teal;
$ca-button-primary-color: $c-white;
$ca-button-secondary-background: $c-white;
$ca-button-secondary-color: $c-teal;
$ca-button-secondary-color-hover: $c-darkTeal;

$ca-header-background: transparent;
$ca-border-default: $c-lightestGrey;
$ca-nav-background: $c-lightestYellow;
$ca-curtain-background: $c-white;
$ca-list-color: $c-grey;

$ca-anchor-color: $c-grey;
$ca-anchor-hover-color: $c-teal;

$ca-anchor-primary-color: $c-teal;
$ca-anchor-primary-hover-color: $c-grey;
$ca-anchor-secondary-color: $c-grey;
$ca-anchor-secondary-hover-color: $c-grey;

$ca-logo-color: $c-teal;

$ca-icon-badge-color: $c-teal;
$ca-block-color: $c-teal;
$ca-icon-block-color: $c-teal;

$ca-paragraph-color: $c-black;
$ca-paragraph-secondary-color: $c-grey;
$ca-hr-color: $c-lightGrey;

$ca-heading-color: $c-black;
$ca-heading-secondary-color: $c-grey;
$ca-heading-primary-color: $c-teal;

$ca-spinner-color: $c-white;
$ca-overlay-background: $c-black;

$ca-tabs-background: $c-white;
$ca-tab-line-color: $c-teal;

$ca-faq-border-color: $c-lightestGrey;
$ca-blockquote-color: $c-teal;

$ca-icon-newsletter-color: $c-lightGrey;
$ca-icon-newsletter-color-hover: $c-teal;
$ca-searchform-background: $c-white;
$ca-icon-search-color: $c-lightGrey;
$ca-input-background: $c-white;
$ca-input-border-color: $c-lightGrey;
$ca-input-focus-border-color: $c-lightTeal;

// Sections
$ca-image-content-background: $c-lightestYellow;
$ca-badge-title-color: $c-teal;
$ca-cta-background-gradient: linear-gradient(-137deg, #02858a 0%, #50abad 100%);
