/* =========================================
Color Index
========================================= */
/**
 * Prefix colors with $c- this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c-black: #171617;
$c-dark: #252328;
$c-light: #93939E;
$c-white: #F3F3F3;
$c-purple: '#962DA1';
$c-lightPurple: '#D9B1DD';
$c-lightestPurple: '#FCEFFD';
$c-black: '#231D24';
$c-white: '#FFFFFF';
$c-grey: '#7E7A7E';
$c-lightGrey: '#D5D0D4';
$c-lightestGrey: '#F5F5F5';
$c-green: '#0EC8A9';
$c-lightestGreen: '#EEFBF8';
$c-yellow: '#F8D04D';
$c-lightestYellow: '#FEFCE2';
$c-red: '#EE5E5E';
$c-lightestRed: '#FDEEEE';
$c-blue: '#3FC5D9';
$c-lightestBlue: '#EEFBFD';

/* =========================================
Colors Applied
========================================= */
/**
 * Prefix applied colors with $ca-
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

$ca-hamburger-line-background: $c-white;
$ca-carousel-background: $c-black;
$ca-site-background: $c-white;
$ca-nav-background: $c-white;
$ca-curtain-background: $c-dark;
$ca-anchor-color: $c-white;
$ca-anchor-hover-color: $c-light;
$ca-paragraph-color: $c-white;
$ca-list-color: $c-white;
$ca-heading-color: $c-white;
$ca-heading-secondary-color: $c-light;
$ca-spinner-color: $c-white;
$ca-list-sep-background: $c-white;
$ca-overlay-background: $c-black;
$ca-feature-background: $c-black;
$ca-commongood-background: $c-dark;
$ca-commongood-img-background: $c-black;
$ca-pagination-color: $c-light;


