/* =========================================
Color Index
========================================= */
/**
 * Prefix colors with $c- this
 * makes them easily findable
 * with auto complete
 *
 * Give colors their names in the
 * index. This makes it easier to
 * arrange them reasonably in the
 * index
 */

$c-purple: #962DA1;
$c-lightPurple: #D9B1DD;
$c-darkPurple: #872391;
$c-lightestPurple: #FCEFFD;
$c-black: #231D24;
$c-white: #FFFFFF;
$c-grey: #7E7A7E;
$c-lightGrey: #D5D0D4;
$c-lightestGrey: #F5F5F5;
$c-green: #0EC8A9;
$c-lightestGreen: #EEFBF8;
$c-yellow: #F8D04D;
$c-lightestYellow: #FEFCE2;
$c-red: #EE5E5E;
$c-lightestRed: #FDEEEE;
$c-blue: #3FC5D9;
$c-lightestBlue: #EEFBFD;

/* =========================================
Colors Applied
========================================= */
/**
 * Prefix applied colors with $ca-
 * this makes them easily findable
 * with auto complete
 *
 * Define where colors where and how
 * colors are used. This makes it
 * easier to use them in the rest
 * of the sass code
 */

$ca-hamburger-line-background: $c-white;
$ca-carousel-background: $c-black;
$ca-site-background: $c-white;
$ca-mast-background: $c-white;

$ca-gallery-background: $c-lightestGrey;
$ca-color-inverted: $c-white;

// Buttons
$ca-button-inverted-background: $c-white;
$ca-button-inverted-background-hover: rgba(255, 255, 255, 0.95);
$ca-button-inverted-color: $c-blue;

$ca-button-primary-background: $c-purple;
$ca-button-primary-background-hover: $c-darkPurple;
$ca-button-color: $c-purple;
$ca-button-primary-color: $c-white;
$ca-button-secondary-background: $c-purple;
$ca-button-secondary-color: $c-white;

$ca-header-background: transparent;
$ca-border-default: $c-lightestGrey;
$ca-nav-background: $c-lightestYellow;
$ca-curtain-background: $c-white;
$ca-list-color: $c-grey;

$ca-anchor-color: $c-grey;
$ca-anchor-hover-color: $c-purple;

$ca-anchor-primary-color: $c-purple;
$ca-anchor-primary-hover-color: $c-grey;
$ca-anchor-secondary-color: $c-grey;
$ca-anchor-secondary-hover-color: $c-grey;

$ca-logo-color: $c-purple;

$ca-icon-badge-color: $c-purple;
$ca-icon-block-corner-color: $c-lightestRed;
$ca-icon-block-color: $c-lightPurple;
$ca-icon-shadow-color: $c-lightestPurple;

$ca-paragraph-color: $c-black;
$ca-paragraph-secondary-color: $c-grey;

$ca-heading-color: $c-black;
$ca-heading-secondary-color: $c-grey;

$ca-spinner-color: $c-white;
$ca-overlay-background: $c-black;

$ca-tabs-background: $c-white;
$ca-tab-line-color: $c-purple;

$ca-faq-border-color: $c-lightestGrey;
$ca-blockquote-color: $c-purple;

$ca-icon-newsletter-color: $c-lightGrey;
$ca-icon-newsletter-color-hover: $c-purple;
$ca-searchform-background: $c-white;
$ca-icon-search-color: $c-lightGrey;
$ca-input-background: $c-white;
$ca-input-border-color: $c-lightGrey;
$ca-input-focus-border-color: $c-lightPurple;

$ca-footer-background: $c-white;

// Sections
$ca-image-content-background: $c-white;
$ca-badge-title-color: $c-purple;
$ca-explain-background-gradient: linear-gradient(-180deg, #FEFAF1 0%, #FEF7E2 75%);
$ca-cta-background-gradient: linear-gradient(-132deg, #39CFE7 0%, #189FB3 100%);
