.soft {
  padding: $d-base !important;
}

.soft--bottom {
  padding-bottom: $d-base !important;
}

.soft-duo--bottom {
  padding-bottom: $d-duo !important;
}

.soft-duo--top {
  padding-top: $d-duo !important;
}

.soft-trio--bottom {
  padding-bottom: $d-trio !important;
}

.soft-trio--top {
  padding-top: $d-trio !important;
}

.soft-quad--top {
  padding-top: $d-quad !important;
}
